/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

/* PARAMETROS GENERALES */
* {
    user-select: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --mx-height: 90%;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(84, 84, 84);
    border-radius: 50px;
}

body {
    background: linear-gradient(to right, #0c192c, #2d425f);
    max-width: 100%;
}

/* ------------------------ */
/* ANIMATIONS - ANIMACIONES */
/* ------------------------ */

@keyframes translateY-animation {
    0% {
        transform: translateY(250rem) scale(0);
    }
    100% {
        transform: translateY(-50vh) scale(0.5);
        transform: translateX(-5vh) scale(0.25);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotation 40s infinite linear;
}

.rotar{
    animation: rotation 10s infinite linear;
}

/* ------------------ */
/* BACKGROUND - FONDO */
/* ------------------ */

#background .stars {
    position: relative;
    display: flex;
}

#background .stars span {
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    opacity: 0.8;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: translateY-animation 15s linear infinite;
    animation-duration: calc(1200s / var(--i));
    z-index: -1;
}

#background .stars span:nth-child(even) {
    box-shadow: 0 0 0 10px #8b0e3944, 0 0 50px #ff2d75, 0 0 100px #4fc3dc;
    background: #ff0040;
}

#background .stars span:nth-child(5n-1) {
    box-shadow: 0 0 0 10px #ffffff44, 0 0 50px #ffffff, 0 0 100px #d9d9d9;
    background: #f5f0f1;
}

/* ----------------------- */
/* HEADER - BARRA SUPERIOR */
/* ----------------------- */

header {
    margin: 0 11vh 0 11vh;
    display: flex;
    text-align: center;
    position: relative;
    justify-content: space-between;
}

header .header-logo h1 a{
    font-size: 54px;
    color: aqua;
    text-decoration: solid #fff;
    transition: all .5s ease-out;
}

header .header-logo h1:hover{
    transform: scale(1.05);
    text-shadow: 10px 8px rgb(0, 0, 0), -10px 12px rgb(255, 255, 255), -8px -12px rgb(253, 253, 253), 12px -5px rgb(14, 178, 200);
}

header .nav-menu li {
    padding: 10px;
    margin: 10px;
    font-size: 22px;
    display: inline-block;
    width: 120px;
}

header .nav-menu li a {
    display: flex;
    width: 150px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    transition: all .3s ease-out;
}

header .nav-menu li a:hover {
    background: #fff;
    color: #000;
}


/* ------------- */
/* HOME - INICIO */
/* ------------- */

#home {
    height: 700px;
    position: relative;
    text-align: left;
    margin: 150px 0 0 100px;
}

#home #desarrollador {
    font-size: 62px;
    color: #fff;
}

#home #descripcion {
    margin-top: 15px;
    width: 70%;
    color: #d6d6d6;
}

#home .cv-download {
    background: linear-gradient(to right, #f04e03, #db7500);
    color: #fff;
    font-size: 12px;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    transition: all .3s ease-in;
}

#home .cv-download:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 20px #ff7300;
}

.contact-icons {
    position: absolute;
    display: flex;
    margin-top: 30px;
    font-size: 30px;
}

#home nav li a{
    color: #fff;
    padding: 10px;
    transition: all .3s ease-in;
}

#github:hover {
    color: #313131;
    text-shadow: 1px 1px 20px #000000;
}

#twitter:hover {
    color: #179CF0;
    text-shadow: 1px 1px 20px #00b7ff;
}

#linkedin:hover {
    color: #1977F3;
    text-shadow: 1px 1px 20px #0112ff;
}

/* ------------------------------------ */
/* SKILLS ORBIT - ORBITA DE HABILIDADES */
/* ------------------------------------ */

#orbit-skills {
    display: flex;
    justify-content: center;
    color: #fff;
}

#orbit-skills .first-orbit {
    position: absolute;
    width: 55rem;
    height: 55rem;
    border: dashed 0.5em;
    border-radius: 50%;
}

#orbit-skills .planets {
    display: flex;
    justify-content: center;
}

#orbit-skills .planet {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    font-size: 3rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}


.fa-html5 {
    background: linear-gradient(to right, #E54C21, #ff6c28);
    margin-top: 52rem;
}

.fa-css3-alt {
    background: linear-gradient(to right, #2465f1, #3f66f4);
    margin-top: 23rem;
    margin-left: 56rem;
}

.fa-js {
    background: linear-gradient(to right, #F7DF1E, #d5bd07);
    margin-right: 56rem;
    margin-top: 23rem;
}

.fa-python {
    background: linear-gradient(to right, #a6ff00, #eeff00);
    margin-top: -3rem;
}

.sub-orbit {
    position: absolute;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: solid 20px #ffffff1e;
}

.progress{
    position: absolute;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin: 0 auto;
}

.html-progress {
    border: solid 20px #E74F22;
    clip-path: circle(200px at -40px 0px);
}

.css-progress {
    border: solid 20px #2465f1;
    clip-path: circle(150px at -10px 0px);
}

.js-progress {
    border: solid 20px #F7DF1E;
    clip-path: circle(150px at 0px 0px);
}

.python-progress {
    border: solid 20px #a6ff00;
    clip-path: circle(100px at 0px 0px);
}


/* HABILIDADES */

#skills {
    margin: 200px 380px;
    display: flex;
    text-align: center;
}

#skills .cards {
    width: 100%;
    height: 550px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    display: grid;
    justify-content: space-around;
}

#skills .card-1,
#skills .card-2,
#skills .card-3 {
    border-radius: 35px;
    box-shadow: 1px 2px 10px black;
    background: #fff;
    transition: all .3s;
}

#skills .card-1:hover,
#skills .card-2:hover,
#skills .card-3:hover {
    transform: scale(1.02);
}

#skills .card-logo {
    padding: 60px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

#skills .card-title {
    padding: 5px 0 0 0;
    font-size: 22px;
    letter-spacing: 2px;
}

#skills .cards hr {
    height: 8px;
    width: 50%;
    border-radius: 50px;
    display: flex;
    margin: auto;
    margin-bottom: 25px;
}

#skills .cards .card-description {
    padding: 0 20px 0 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#skills .card-1 .card-logo,
#line-1 {
    background: linear-gradient(to right, #02d8f8, #0048ff);
    box-shadow: 1px 2px 20px #0048ff;
}

#skills .card-2 .card-logo,
#line-2 {
    background: linear-gradient(to right, #ff7700, #e2ee02);
    box-shadow: 1px 2px 20px #ff7700;
}

#skills .card-3 .card-logo,
#line-3 {
    background: linear-gradient(to right, #fe006e, #870a6cf1);
    box-shadow: 1px 2px 20px #fe006e;
}

/* -------------------- */
/* PROYECTS - PROYECTOS */
/* -------------------- */

#briefcase {
    max-width: 140vh;
    margin: 40vh auto;
    display: grid;
    justify-content: center;
}

.title-seccion {
    text-align: center;
    font-size: 3.25rem;
    color: #fff;
}

#briefcase .proyects-options{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    font-size: 1.25rem;
}

#briefcase .proyects-options button {
    background: none;
    border: #000000c5 1px solid;
    color: #fff;
    width: 9.60rem;
    height: 3.12rem;
    margin-right: 3rem;
    border-radius: 2.18rem;
    transition: all .3s ease-in;
    margin-bottom: 2rem;
}

#briefcase .proyects-options button:hover {
    background: #000;
}

#briefcase .briefcase-proyects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
}

#briefcase .proyect {
    display: flex;
    max-width: 28.12rem;
    margin: 0.62rem 0.62rem;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

#briefcase .proyect img {
    width: 100%;
    height: 100%;
    filter: grayscale(0.8);
    transition: .5s;
}

#briefcase .proyect:hover img {
    filter: grayscale(0);
    transform: scale(1.02);
}

#briefcase .proyect .info {
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#briefcase .proyect:hover .info {
    opacity: 1;
    bottom: 0;
}

#briefcase .proyect .info a {
    color: #fff;
    font-size: 1.5rem;
}

/* CONTACTO */

#contact {
    margin-top: -15vh;
    margin-bottom: 30vh;
}

#contact form {
    margin-top: 5vh;
    display: grid;
    justify-content: center;
}

#contact 
#contact-description {
    width: 135vh;
}

#contact .half-input {
    margin-bottom: 0.62rem;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 67.5vh);
}

#contact .input-full {
    margin-bottom: 0.625rem;
}

#contact input,
#contact textarea {
    padding: 1.25rem;
    border-radius: 1.25rem;
}

#contact input::placeholder, textarea::placeholder {
    color: rgb(0, 0, 0);
    font-size: 16px;
}

#contact textarea {
    height: 40vh;
}

#contact .btn-enviar {
    text-align: center;
    width: 15rem;
    height: 3.12rem;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 0.625rem 1rem !important;
}

#contact .btn-enviar:hover {
    background-color: #424242;
    color: #fff;
}


/* ------------------- */
/* F O O T E E R */
/* ------------------- */

footer {
    display: block;
    background-color: #00000041;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    margin: 5px;
    font-size: 26px;
    }