/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

/* PARAMETROS GENERALES */
* {
    user-select: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(84, 84, 84);
    border-radius: 50px;
}

body {
    background: linear-gradient(to right, #0c192c, #2d425f);
}

/* FONDO */
.background .stars {
    position: relative;
    display: flex;
}

.background .stars span {
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    opacity: 0.8;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(1200s / var(--i));
    z-index: -1;
}

.background .stars span:nth-child(even) {
    box-shadow: 0 0 0 10px #8b0e3944, 0 0 50px #ff2d75, 0 0 100px #4fc3dc;
    background: #ff0040;
}

.background .stars span:nth-child(5n-1) {
    box-shadow: 0 0 0 10px #ffffff44, 0 0 50px #ffffff, 0 0 100px #d9d9d9;
    background: #f5f0f1;
}

@keyframes animate {
    0% {
        transform: translateY(3700px) scale(0);
    }
    100% {
        transform: translateY(-50vh) scale(0.5);
    }
}

/* HEADER */

.container {
    padding: 20px 100px 50px;
    max-width: 100%;
    display: flex;
    text-align: center;
    position: relative;
    justify-content: space-between;
}

.container .titulo h1 a{
    font-size: 54px;
    color: aqua;
    text-decoration:solid #fff;
    /*font-family: 'Vina Sans', cursive;*/
    transition: all .5s ease-out;
}

.container .titulo h1:hover{
    transform: scale(1.05);
    /* text-shadow: 1px 1px 50px rgb(0, 225, 255); */
    text-shadow: 10px 8px #ccf, -10px 12px #fcf, -8px -12px #cfc, 12px -5px #fc9;
    /* text-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e; */
}

.container .menu li {
    padding: 10px;
    margin: 10px;
    font-size: 22px;
    display: inline-block;
    width: 120px;
}

.container .menu li a {
    display: flex;
    width: 150px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    transition: all .3s ease-out;
}

.container .menu li a:hover {
    display: flex;
    background: #fff;
    color: #000;
    /* text-decoration: underline #ff7b00 solid 2px; */
}

/* INICIO */
.inicio {
    height: 700px;
    position: relative;
    text-align: left;
    margin: 150px 0 0 100px;
}

.inicio #desarrollador {
    font-size: 62px;
    color: #fff;
}

.inicio #descripcion {
    margin-top: 15px;
    width: 70%;
    color: #d6d6d6;
}

.inicio button {
    background: linear-gradient(to right, #f04e03, #db7500);
    color: #fff;
    font-size: 12px;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    transition: all .3s ease-in;
}

.inicio button:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 20px #ff7300;
}

.inicio nav {
    position: absolute;
    display: flex;
    margin-top: 30px;
    font-size: 30px;
}

.inicio nav li a{
    color: #fff;
    padding: 10px;
    transition: all .3s ease-in;
}

.inicio nav li a:hover {
    transform: scale(1.2);   
}

#github:hover {
    color: #313131;
    text-shadow: 1px 1px 20px #000000;
}

#twitter:hover {
    color: #179CF0;
    text-shadow: 1px 1px 20px #00b7ff;
}

#linkedin:hover {
    color: #1977F3;
    text-shadow: 1px 1px 20px #0112ff;
}

/* ORBITS */

.orbits {
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 375px;
}

.firt-orbits {
    position: absolute;
    width: 700px;
    height: 700px;
    border: dashed 6px;
    color: white;
    border-radius: 50%;
    z-index: -1;
}

#planets {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 49px;
    width: 123px;
    height: 123px;
    border-radius: 50%;
    margin: auto;
}


.html {
    background: linear-gradient(to right, #E54C21, #ff6c28);
    left: 41%;
    top: -60px;
}

.css {
    background: linear-gradient(to right, #2465f1, #3f66f4);
    left: 41%;
    top: 630px;
}

.js {
    background: linear-gradient(to right, #F7DF1E, #d5bd07);
    left: 65vh;
    top: 40%;
}

.python {
    background: linear-gradient(to right, #F7DF1E, #d5bd07);
    left: -65px;
    top: 40%;
}

.rotating {
    animation: rotation 40s infinite linear;
}

.rotar{
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.sub-orbit {
    position: absolute;
    width: 143px;
    height: 143px;
    border-radius: 50%;
    border: solid 20px #ffffff1e;
    z-index: -1;
}

.progress{
    position: absolute;
    width: 143px;
    height: 143px;
    border-radius: 50%;
    margin: 0 auto;
}

.html-progress {
    border: solid 20px #E74F22;
    clip-path: circle(200px at -40px 0px);
}

.css-progress {
    border: solid 20px #2465f1;
    clip-path: circle(150px at -10px 0px);
}

.js-progress {
    border: solid 20px #F7DF1E;
    clip-path: circle(150px at 0px 0px);
}

.python-progress {
    border: solid 20px #F7DF1E;
    clip-path: circle(100px at 0px 0px);
}


/* HABILIDADES */

.habilidades {
    margin: 0 380px;
    position: relative;
    text-align: center;
    bottom: 298px;
}

.habilidades .cards {
    width: 100%;
    height: 550px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    display: grid;
    justify-content: space-around;
}

.habilidades .card-1,
.habilidades .card-2,
.habilidades .card-3 {
    border-radius: 35px;
    box-shadow: 1px 2px 10px black;
    background: #fff;
    transition: all .3s;
}

.habilidades .card-1:hover,
.habilidades .card-2:hover,
.habilidades .card-3:hover {
    transform: scale(1.02);
}

.habilidades .card-logo {
    padding: 60px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.habilidades .card-titulo {
    padding: 5px 0 0 0;
    font-size: 22px;
    letter-spacing: 2px;
}

.habilidades .cards hr {
    height: 8px;
    width: 50%;
    border-radius: 50px;
    display: flex;
    margin: auto;
    margin-bottom: 25px;
}

.habilidades .cards .card-info {
    padding: 0 20px 0 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.habilidades .card-1 .card-logo,
#line-1 {
    background: linear-gradient(to right, #02d8f8, #0048ff);
    box-shadow: 1px 2px 20px #0048ff;
}

.habilidades .card-2 .card-logo,
#line-2 {
    background: linear-gradient(to right, #ff7700, #e2ee02);
    box-shadow: 1px 2px 20px #ff7700;
}

.habilidades .card-3 .card-logo,
#line-3 {
    background: linear-gradient(to right, #fe006e, #870a6cf1);
    box-shadow: 1px 2px 20px #fe006e;
}

/* PROYECTS */

#portfolio {
    max-width: 1100px;
    margin: auto;
}

.titulo-seccion {
    text-align: center;
    font-size: 52px;
    color: #fff;
}

#portfolio .proyects-options{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    margin-left: 35px;
    font-size: 22px;
}

#portfolio .proyects-options button {
    background: none;
    border: #000000c5 1px solid;
    color: #fff;
    width: 9.60rem;
    height: 3.12rem;
    margin-right: 3rem;
    border-radius: 35px;
    transition: all .3s ease-in;
}

#portfolio .proyects-options button:hover {
    background: #000;
}

#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portfolio .fila .proyecto {
    max-width: 450px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

#portfolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(0.8);
    object-fit: cover;
    transition: .5s;
}

#portfolio .fila .proyecto:hover img {
    filter: grayscale(0);
}

#portfolio .fila .proyecto .info {
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}

/* CONTACTO */

#contacto {
    padding: 50px;
    margin-top: 50px;
}

#contacto .titulo-seccion {
    margin-bottom: 30px;
}

#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input {
    width: 50%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}

#contacto .btn-enviar {
    text-align: center;
    width: 150px;
    height: 50px;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
}

#contacto .btn-enviar:hover {
    background-color: #424242;
    color: #fff;
}


/* ------------------- */
/* F O O T E E R */
/* ------------------- */

footer {
    background-color: #00000041;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
