/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap, https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap, https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
/* PARAMETROS GENERALES */
* {
    user-select: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --mx-width: 100%;
}

body::-webkit-scrollbar {
    width: 0.7rem;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(84, 84, 84);
    border-radius: 3.125rem;
}

body {
    background: linear-gradient(to right, #0c192c, #2d425f);
    max-width: var(--mx-width);
}

/* ------------------------ */
/* ANIMATIONS - ANIMACIONES */
/* ------------------------ */

@keyframes starsAnimation {
    0% {
        transform: translateY(240rem) scale(0);
    }
    100% {
        transform: translateY(-50vh) scale(0.5);
        transform: translateX(-5vh) scale(0.25);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.rotating {
    animation: rotation 40s infinite linear;
}

.rotar{
    animation: rotation 10s infinite linear;
}

/* ------------------ */
/* BACKGROUND - FONDO */
/* ------------------ */

#background .stars {
    position: relative;
    display: flex;
}

#background .stars span {
    width: 1.875rem;
    height: 1.875rem;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    opacity: 0.8;
    box-shadow: 0 0 0 0.625rem #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: starsAnimation 15s linear infinite;
    animation-duration: calc(1200s / var(--i));
    z-index: -1;
}

#background .stars span:nth-child(even) {
    box-shadow: 0 0 0 0.625rem #8b0e3944, 0 0 50px #ff2d75, 0 0 100px #4fc3dc;
    background: #ff0040;
}

#background .stars span:nth-child(5n-1) {
    box-shadow: 0 0 0 0.625rem #ffffff44, 0 0 50px #ffffff, 0 0 100px #d9d9d9;
    background: #f5f0f1;
}

/* ----------------------- */
/* HEADER - BARRA SUPERIOR */
/* ----------------------- */

header {
    margin: 0 11vh;
    display: flex;
    text-align: center;
    position: relative;
    justify-content: space-between;
}

header .header-logo h1 a{
    font-size: 3.33rem;
    color: aqua;
    text-decoration: solid #fff;
    transition: all .5s ease-out;
}

header .header-logo h1:hover{
    transform: scale(1.05);
}

header .nav-menu li {
    padding: 0.625rem;
    margin: 0.625rem;
    font-size: 1.5rem;
    display: inline-block;
    width: 7.5rem;
}

header .nav-menu li a {
    display: flex;
    width: 9.5rem;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    border-radius: 1.25rem;
    transition: all .3s ease-out;
}

header .nav-menu li a:hover {
    background: #fff;
    color: #000;
}


/* ------------- */
/* HOME - INICIO */
/* ------------- */

#home {
    height: 43.75rem;
    position: relative;
    text-align: left;
    margin: 9.375rem 0 0 6.25rem;
}

#home .desarrollador {
    font-size: 3.875rem;
    color: #fff;
}

#home .description {
    margin-top: 1rem;
    width: 70%;
    color: #d6d6d6;
}

#home .cv-download {
    background: linear-gradient(to right, #f04e03, #db7500);
    color: #fff;
    font-size: 0.75rem;
    margin-top: 1.875rem;
    width: 9.375rem;
    height: 3.125rem;
    border-radius: 1.25rem;
    transition: all .3s ease-in;
}

#home .cv-download:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 20px #ff7300;
}

.contact-icons {
    position: absolute;
    display: flex;
    margin-top: 2rem;
    font-size: 2rem;
}

#home nav li a{
    color: #fff;
    padding: 0.625rem;
    transition: all .3s ease-in;
}

#github:hover {
    color: #313131;
    text-shadow: 1px 1px 20px #000000;
}

#twitter:hover {
    color: #179CF0;
    text-shadow: 1px 1px 20px #00b7ff;
}

#linkedin:hover {
    color: #1977F3;
    text-shadow: 1px 1px 20px #0112ff;
}

/* ------------------------------------ */
/* SKILLS ORBIT - ORBITA DE HABILIDADES */
/* ------------------------------------ */

#skills {
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#skills .first-orbit {
    width: 55rem;
    height: 55rem;
    border: dashed 0.5em;
    border-radius: 50%;
}

#skills .planets {
    text-shadow: #00000084 1px 1px 0.1px;
    position: absolute;
}

#skills .planet {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    font-size: 3rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}


#skills .fa-html5 {
    background: linear-gradient(to right, #E54C21, #ff6c28);
    left: 24rem;
    top: 51.5rem;
}

#skills .fa-css3-alt {
    background: linear-gradient(to right, #2465f1, #3f66f4);
    left: 52rem;
    top: 25.75rem;
}

#skills .fa-js {
    background: linear-gradient(to right, #F7DF1E, #d5bd07);
    top: 25.75rem;
    left: -3rem;
}

#skills .fa-python {
    background: linear-gradient(to right, #a6ff00, #eeff00);
    left: 24rem;
    top: -3rem;
}

#skills .sub-orbit {
    position: absolute;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: solid 20px #ffffff1e;
}

#skills .progress{
    position: absolute;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin: 0 auto;
}

#skills .html-progress {
    border: solid 20px #E74F22;
    clip-path: circle(200px at -40px 0px);
}

#skills .css-progress {
    border: solid 20px #2465f1;
    clip-path: circle(150px at -10px 0px);
}

#skills .js-progress {
    border: solid 20px #F7DF1E;
    clip-path: circle(150px at 0px 0px);
}

#skills .python-progress {
    border: solid 20px #a6ff00;
    clip-path: circle(100px at 0px 0px);
}

/* ------------------------------------ */
/* CARDS SKILLS - CARTAS DE HABILIDADES */
/* ------------------------------------ */

#skills .cards {
    display: grid;
    position: absolute;
    margin: auto;
    color: #000;
    text-align: center;
    width: 60%;
    height: 34rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

#skills .card-1,
#skills .card-2,
#skills .card-3 {
    border-radius: 2.125rem;
    box-shadow: 1px 2px 10px black;
    background: #fff;
    transition: all .3s;
}

#skills .card-1:hover,
#skills .card-2:hover,
#skills .card-3:hover {
    transform: scale(1.02);
}

#skills .card-logo {
    padding: 4rem;
    width: 0.312rem;
    height: 0.312rem;
    border-radius: 50%;
    font-size: 1.562rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25rem auto;
}

#skills .card-title {
    padding: 5px 0 0 0;
    font-size: 1.25rem;
    letter-spacing: 2px;
}

#skills .cards hr {
    height: 0.5rem;
    width: 50%;
    border-radius: 3.125rem;
    display: flex;
    margin: auto;
    margin-bottom: 3.125rem;
}

#skills .cards .card-description {
    margin-top: -1rem;
    padding: 0 0.312rem 0 0.312rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#skills .card-1 .card-logo,
#line-1 {
    background: linear-gradient(to right, #02d8f8, #0048ff);
    box-shadow: 1px 2px 30px #0048ff;
}

#skills .card-2 .card-logo,
#line-2 {
    background: linear-gradient(to right, #ff7700, #e2ee02);
    box-shadow: 1px 2px 30px #ff7700;
}

#skills .card-3 .card-logo,
#line-3 {
    background: linear-gradient(to right, #fe006e, #870a6cf1);
    box-shadow: 1px 2px 30px #fe006e;
}

/* -------------------- */
/* PROYECTS - PROYECTOS */
/* -------------------- */

#briefcase {
    width: 100%;
    margin: 15rem auto;
    display: grid;
    justify-content: center;
}

.title-seccion {
    text-align: center;
    font-size: 3.25rem;
    color: #fff;
}

#briefcase .briefcase-proyects {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}

#briefcase .proyect {
    display: flex;
    margin: 0.62rem 0.62rem;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

#briefcase .proyect img {
    width: 100%;
    height: 100%;
    filter: grayscale(0.8);
    transition: .5s;
}

#briefcase .proyect:hover img {
    filter: grayscale(0);
    transform: scale(1.02);
}

#briefcase .proyect .info {
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ff5080;
    width: 100%;
    padding: 0.625rem;
    opacity: 0;
    bottom: -2.5rem;
    transition: .5s;
}

#briefcase .proyect:hover .info {
    opacity: 1;
    bottom: 0;
}

#briefcase .proyect .info a {
    color: #fff;
    font-size: 1.5rem;
}

/* ------------------ */
/* CONTACT - CONTACTO */
/* ------------------ */

#contact {
    margin-top: -2vh;
    margin-bottom: 10rem;
    width: 100%;
}

#contact form {
    margin-top: 5vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

#contact 
#contact-description {
    width: 69rem;
}

#contact .half-input {
    margin-bottom: 0.62rem;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

#contact .input-full {
    margin-bottom: 0.625rem;
}

#contact input,
#contact textarea {
    padding: 1.25rem;
    border-radius: 1.25rem;
}

#contact input::placeholder, textarea::placeholder {
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

#contact textarea {
    height: 40vh;
}

#contact .btn-enviar {
    display: flex;
    justify-content: center;
    width: 15rem;
    height: 3.12rem;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 0.625rem 1rem;
}

#contact .btn-enviar:hover {
    background-color: #424242;
    color: #fff;
}


/* ---------------------- */
/* FOOTER - PIÉ DE PAGINA */
/* ---------------------- */

footer {
    display: block;
    background-color: #00000041;
    color: #fff;
    text-align: center;
    padding: 1.875rem 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    margin: 0.3rem;
    font-size: 1.625rem;
    }

/* ------------------------------------- */
/* RESPONSIVE DESIGN - DISEÑO RESPONSIVE */
/* ------------------------------------- */

@media screen and (max-width: 1600px) {

    /* ------------------------------------ */
    /* SKILLS ORBIT - ORBITA DE HABILIDADES */
    /* ------------------------------------ */

    #skills .first-orbit {
        width: 50rem;
        height: 50rem;
    }

    #skills .planet {
        font-size: 2.5rem;
        width: 6.3rem;
        height: 6.3rem;
    }


    .fa-html5 {

        margin-top: 46.8rem;
    }

    .fa-css3-alt {
        margin-top: 20.7rem;
        margin-left: 50.4rem;
    }

    .fa-js {
        margin-right: 50.4rem;
        margin-top: 20.7rem;
    }

    .fa-python {
        margin-top: -2.7rem;
    }

    .sub-orbit {
        width: 8.1rem;
        height: 8.1rem;
    }

    .progress{
        width: 8.1rem;
        height: 8.1rem;
    }

    /* --------------------------------------- */
    /* SKILLS CARDS - TARJETAS DE HABILIDADES */
    /* -------------------------------------- */

    #skills .cards {
        margin-top: 3rem;
        width: 70%;
        height: 30rem;
    }

    #skills .cards .card-description {
        width: 95%;
    }

}

@media screen and (max-width: 1366px) {

    /* ----------------------- */
    /* HEADER - BARRA SUPERIOR */
    /* ----------------------- */

    header .header-logo h1 a{
        font-size: 3rem;
    }

    header .nav-menu li {
        font-size: 1.25rem;
        width: 6.5rem;
    }

    header .nav-menu li a {
        width: 8.5rem;
    }

    /* ------------- */
    /* HOME - INICIO */
    /* ------------- */

    #home {
        margin: 7.375rem 0 0 5.2rem;
    }

    #home .desarrollador {
        font-size: 2.575rem;
    }

    #home .description {
        font-size: 1rem;
    }

    .contact-icons {
        font-size: 1.5rem;
    }

    /* ------------------------------------ */
    /* SKILLS ORBIT - ORBITA DE HABILIDADES */
    /* ------------------------------------ */


    #skills {
        margin-top: 0;
    }


    #skills .first-orbit {
        width: 35.85rem;
        height: 35.85rem;
        border: dashed 0.4rem;
    }

    #skills .planet {
        font-size: 1.5rem;
        width: 4.5rem;
        height: 4.5rem;
    }


    #skills .fa-html5 {
        margin-top: -18rem;
        margin-left: -8rem;
    }

    #skills .fa-css3-alt {
        margin-top: -10rem;
        margin-left: -18.5rem;
    }

    #skills .fa-js {
        margin-top: -10rem;
        margin-left: 1rem;
    }

    #skills .fa-python {
        margin-top: 0.7rem;
        margin-left: -8rem;
    }

    #skills .sub-orbit {
        width: 6rem;
        height: 6rem;
        border: solid 10px #ffffff1e;
    }

    #skills .progress{
        width: 6rem;
        height: 6rem;
    }

    #skills .html-progress {
        border: solid 10px #E74F22;
    }
    
    #skills .css-progress {
        border: solid 10px #2465f1;
    }
    
    #skills .js-progress {
        border: solid 10px #F7DF1E;
    }
    
    #skills .python-progress {
        border: solid 10px #a6ff00;
    }

    /* --------------------------------------- */
    /* SKILLS CARDS - TARJETAS DE HABILIDADES */
    /* -------------------------------------- */
    
    #skills .cards {
        width: 70%;
        height: 12rem;
        margin-bottom: 16rem;
    }

    #skills .card-logo {
        padding: 3.2rem;
        font-size: 1.4rem;
    }
    
    #skills .card-title {
        font-size: 1rem;
        letter-spacing: 2px;
    }
    
    #skills .cards hr {
        margin-bottom: 1rem;
    }

    #skills .cards .card-description {
        font-size: 0.75rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    /* --------------------- */
    /* BRIEFCASE - PORTFOLIO */
    /* --------------------- */

    #briefcase {
        margin-top: 10rem;
    }

    .title-seccion {
        font-size: 2.5rem;
    }

    /* -------------------- */
    /* CONTACT - CONTACTAME */
    /* -------------------- */

    #contact {
        margin-bottom: 8rem;
    }
}

@media screen and (max-width: 1280px) {

    /* ------------- */
    /* HOME - INICIO */
    /* ------------- */

    #home {
        margin: 12rem 0 0 6rem;
    }

    #home .desarrollador {
        font-size: 2.5rem;
    }

    #home .description {
        font-size: 1.1rem;
        width: 80%;
    }

    #home .cv-download {
        width: 10rem;
        height: 3rem;
    }

    /* ------------------------------------ */
    /* SKILLS ORBIT - ORBITA DE HABILIDADES */
    /* ------------------------------------ */


    #skills {
        margin-top: 0;
    }


    #skills .first-orbit {
        width: 35.85rem;
        height: 35.85rem;
        border: dashed 0.4rem;
    }

    #skills .planet {
        font-size: 1.5rem;
        width: 4.5rem;
        height: 4.5rem;
    }


    #skills .fa-html5 {
        margin-top: -18rem;
        margin-left: -8rem;
    }

    #skills .fa-css3-alt {
        margin-top: -10rem;
        margin-left: -18.5rem;
    }

    #skills .fa-js {
        margin-top: -10rem;
        margin-left: 1rem;
    }

    #skills .fa-python {
        margin-top: 0.7rem;
        margin-left: -8rem;
    }

    #skills .sub-orbit {
        width: 6rem;
        height: 6rem;
        border: solid 10px #ffffff1e;
    }

    #skills .progress{
        width: 6rem;
        height: 6rem;
    }

    #skills .html-progress {
        border: solid 10px #E74F22;
    }
    
    #skills .css-progress {
        border: solid 10px #2465f1;
    }
    
    #skills .js-progress {
        border: solid 10px #F7DF1E;
    }
    
    #skills .python-progress {
        border: solid 10px #a6ff00;
    }

    /* --------------------------------------- */
    /* SKILLS CARDS - TARJETAS DE HABILIDADES */
    /* -------------------------------------- */
    
    #skills .cards {
        width: 70%;
        height: 25rem;
        margin-bottom: 13rem;
    }

    #skills .card-logo {
        padding: 3.2rem;
        font-size: 1.4rem;
    }
    
    #skills .card-title {
        font-size: 1rem;
        letter-spacing: 2px;
    }
    
    #skills .cards hr {
        margin-bottom: 1rem;
    }

    #skills .cards .card-description {
        font-size: 0.75rem;
        margin-top: 1rem;
    }
    
    /* --------------------- */
    /* BRIEFCASE - PORTFOLIO */
    /* --------------------- */

    #briefcase {
        margin-top: 10rem;
    }

    .title-seccion {
        font-size: 2.5rem;
    }

    /* -------------------- */
    /* CONTACT - CONTACTAME */
    /* -------------------- */

    #contact {
        margin-top: -13rem;
        margin-bottom: 10rem;
    }

}

@media screen and (max-width: 1152px) {

    /* ----------------------- */
    /* HEADER - BARRA SUPERIOR */
    /* ----------------------- */

    header .nav-menu {
        display: none;
    }  

    /* ------------- */
    /* HOME - INICIO */
    /* ------------- */

    #home {
        margin: 8.5rem 0 0 4.2rem;
    }

    #home .desarrollador {
        font-size: 3rem;
    }

    #home .description {
        font-size: 1.1rem;
    }

    #home .cv-download {
        width: 12rem;
        height: 3rem;
        font-size: 0.8rem;
    }


    /* ------------------------------------ */
    /* SKILLS ORBIT - ORBITA DE HABILIDADES */
    /* ------------------------------------ */

    #skills {
        margin-top: 0;
    }


    #skills .first-orbit {
        width: 35.85rem;
        height: 35.85rem;
        border: dashed 0.3rem;
    }

    #skills .planet {
        font-size: 1.3rem;
        width: 4.5rem;
        height: 4.5rem;
    }


    #skills .fa-html5 {
        margin-top: -18rem;
        margin-left: -8rem;
    }

    #skills .fa-css3-alt {
        margin-top: -10rem;
        margin-left: -18.5rem;
    }

    #skills .fa-js {
        margin-top: -10rem;
        margin-left: 1rem;
    }

    #skills .fa-python {
        margin-top: 0.7rem;
        margin-left: -8rem;
    }

    #skills .sub-orbit {
        width: 6rem;
        height: 6rem;
        border: solid 10px #ffffff1e;
    }

    #skills .progress{
        width: 6rem;
        height: 6rem;
    }

    #skills .html-progress {
        border: solid 10px #E74F22;
    }
    
    #skills .css-progress {
        border: solid 10px #2465f1;
    }
    
    #skills .js-progress {
        border: solid 10px #F7DF1E;
    }
    
    #skills .python-progress {
        border: solid 10px #a6ff00;
    }

    /* --------------------------------------- */
    /* SKILLS CARDS - TARJETAS DE HABILIDADES */
    /* -------------------------------------- */
    
    #skills .cards {
        width: 75%;
        height: 25rem;
        margin-bottom: 12rem;
    }

    #skills .card-logo {
        padding: 3.5rem;
        font-size: 1.5rem;
    }
    
    #skills .card-title {
        font-size: 1rem;
        letter-spacing: 2px;
    }
    
    #skills .cards hr {
        margin-bottom: 1rem;
    }

    #skills .cards .card-description {
        font-size: 0.75rem;
        margin-top: 1rem;
    }
    
    /* --------------------- */
    /* BRIEFCASE - PORTFOLIO */
    /* --------------------- */

    #briefcase {
        width: 70%;
    }

    .title-seccion {
        font-size: 2.5rem;
    }

    #briefcase .briefcase-proyects {
        grid-template-columns: repeat(2, 1fr);
    }

    /* -------------------- */
    /* CONTACT - CONTACTAME */
    /* -------------------- */

    #contact {
        margin-top: -15vh;
        margin-bottom: 8rem;
    }

    #contact 
    #contact-description {
        width: 50rem;
    }

    #contact .half-input {
        grid-template-columns: repeat(2, 25rem);
    }

    footer {
        padding: 1.5rem;
    }

    footer a {
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 1024px) {

    /* ------------- */
    /* HOME - INICIO */
    /* ------------- */

    #home {
        margin: 5.5rem 0 0 6.2rem;
    }

    #home .desarrollador {
        font-size: 2.5rem;
    }

    #home .description {
        font-size: 1rem;
    }

    #home .cv-download {
        width: 8.16rem;
        height: 2.652rem;
    }

    /* ------------------------------------ */
    /* SKILLS ORBIT - ORBITA DE HABILIDADES */
    /* ------------------------------------ */

    #skills {
        margin-top: 0rem;
    }

    #skills .first-orbit {
        width: 30rem;
        height: 30rem;
        border: dashed 0.3rem;
    }

    #skills .planet {
        font-size: 1.4rem;
        width: 4rem;
        height: 4rem;
        left: 0;
        top: 0;
    }


    #skills .fa-html5 {
        margin-top: 28rem;
        margin-left: 13rem;
    }

    #skills .fa-css3-alt {
        margin-top: 13rem;
        margin-left: 28rem;
    }

    #skills .fa-js {
        margin-top: 13rem;
        margin-left: -2rem;
    }

    #skills .fa-python {
        margin-top: -2rem;
        margin-left: 13rem;
    }

    #skills .sub-orbit {
        width: 5rem;
        height: 5rem;
        border: solid 10px #ffffff1e;
    }

    #skills .progress{
        width: 5rem;
        height: 5rem;
    }

    #skills .html-progress {
        border: solid 10px #E74F22;
    }
    
    #skills .css-progress {
        border: solid 10px #2465f1;
    }
    
    #skills .js-progress {
        border: solid 10px #F7DF1E;
    }
    
    #skills .python-progress {
        border: solid 10px #a6ff00;
    }

    /* --------------------------------------- */
    /* SKILLS CARDS - TARJETAS DE HABILIDADES */
    /* -------------------------------------- */
    
    #skills .cards {
        width: 70%;
        height: 22rem;
        gap: 1rem;
        margin: 0 auto 9.5rem auto;
    }

    #skills .card-logo {
        padding: 2.5rem;
        font-size: 1.3rem;
    }
    
    #skills .card-title {
        font-size: 0.9rem;
        letter-spacing: 2px;
    }
    
    #skills .cards hr {
        margin-bottom: 1rem;
    }

    #skills .cards .card-description {
        font-size: 0.6rem;
        margin-top: 1rem;
    }
    
    /* --------------------- */
    /* BRIEFCASE - PORTFOLIO */
    /* --------------------- */

    #briefcase {
        width: 80vh;
        margin: 45vh auto;
    }

    .title-seccion {
        font-size: 2.2rem;
    }

    #briefcase .briefcase-proyects {
        grid-template-columns: repeat(2, 1fr);
    }


    /* -------------------- */
    /* CONTACT - CONTACTAME */
    /* -------------------- */

    #contact {
        margin-top: -15vh;
        margin-bottom: 30vh;
    }

    #contact 
    #contact-description {
        width: 95%;
    }

    #contact .half-input {
        grid-template-columns: repeat(2, 45vh);
    }

    footer {
        padding: 1rem;
    }

    footer a {
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 830px) {

    /* ----------------------- */
    /* HEADER - BARRA SUPERIOR */
    /* ----------------------- */
    header {
        margin: 0 4rem;
    }

    header .nav-menu {
        display: none;
    }

    /* ------------- */
    /* HOME - INICIO */
    /* ------------- */

    #home {
        margin: 5.5rem 0 0 4.2rem;
        margin-bottom: 5rem;
    }

    #home .desarrollador {
        font-size: 2rem;
    }

    #home .description {
        font-size: 1rem;
        width: 90%;
    }

    #home .cv-download {
        width: 9rem;
        height: 3rem;
    }

    #home .contact-icons {
        margin-top: 1rem;
    }

    /* ------------------------------------ */
    /* SKILLS ORBIT - ORBITA DE HABILIDADES */
    /* ------------------------------------ */

    #skills .first-orbit {
        display: none;
    }

    /* --------------------------------------- */
    /* SKILLS CARDS - TARJETAS DE HABILIDADES */
    /* -------------------------------------- */

    #skills {
        width: 80%;
    }

    #skills .cards {
        width: 55%;
        grid-template-columns: repeat(1, 1fr);
    }

    #skills .card-logo {
        padding: 3.5rem;
    }
    
    #skills .card-title {
        font-size: 1.25rem;
        letter-spacing: 2px;
    }
    
    #skills .cards hr {
        margin-bottom: 1rem;
    }

    #skills .cards .card-description {
        width: 80%;
        margin: 0 auto;
        font-size: 1rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    
    /* --------------------- */
    /* BRIEFCASE - PORTFOLIO */
    /* --------------------- */

    #briefcase {
        width: 90%;
        margin: 100rem auto 90rem auto;
    }

    .title-seccion {
        font-size: 2.2rem;
    }

    /* -------------------- */
    /* CONTACT - CONTACTAME */
    /* -------------------- */

    #contact {
        margin-bottom: 5vh;
        margin-top: -85rem;
    }

    #contact 
    #contact-description {
        width: 70vh;
    }

    #contact .half-input {
        grid-template-columns: repeat(1, 1fr);
        gap: 0.62rem;
    }

    #contact input::placeholder, textarea::placeholder {
        font-size: 0.8rem;
    }

    footer {
        padding: 1rem;
    }

    footer a {
        font-size: 1.3rem;
    }

}


@media screen and (max-width: 675px) {

    #background {
        display: none;
    }

    /* ----------------------- */
    /* HEADER - BARRA SUPERIOR */
    /* ----------------------- */
    header {
        margin: 2rem 2rem;
    }

    header .nav-menu {
        display: none;
    }

    /* ------------- */
    /* HOME - INICIO */
    /* ------------- */

    #home {
        margin: 5.5rem 0 0 2rem;
    }

    #home .desarrollador {
        font-size: 1.5rem;
    }

    #home .description {
        font-size: 1rem;
        width: 90%;
    }

    #home .cv-download {
        width: 9rem;
        height: 3rem;
    }

    #home .contact-icons {
        margin-top: 1rem;
    }

    /* ------------------------------------ */
    /* SKILLS ORBIT - ORBITA DE HABILIDADES */
    /* ------------------------------------ */

    #skills .first-orbit {
        display: none;
    }

    /* -------------------- */
    /* SKILLS - HABILIDADES */
    /* -------------------- */

    #skills {
        margin-top: 10rem;
    }
    
    #skills .cards {
        width: 75%;
        grid-template-columns: repeat(1, 2fr);
    }

    #skills .card-logo {
        padding: 4rem;
        font-size: 1.5rem;
    }
    
    #skills .card-title {
        font-size: 1.25rem;
        letter-spacing: 2px;
    }
    
    #skills .cards hr {
        margin-bottom: 1rem;
    }

    #skills .cards .card-description {
        width: 80%;
        margin: 0 auto;
        font-size: 1rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    
    /* --------------------- */
    /* BRIEFCASE - PORTFOLIO */
    /* --------------------- */

    #briefcase {
        width: 90%;
        margin: 100rem auto;
    }

    .title-seccion {
        font-size: 2.2rem;
    }

    /* -------------------- */
    /* CONTACT - CONTACTAME */
    /* -------------------- */

    #contact {
        margin-bottom: 5vh;
        margin-top: -85rem;
    }

    #contact 
    #contact-description {
        width: 45vh;
    }

    #contact .half-input {
        grid-template-columns: repeat(1, 1fr);
        gap: 0.62rem;
    }

    #contact input::placeholder, textarea::placeholder {
        font-size: 0.8rem;
    }

    footer {
        padding: 1rem;
    }

    footer a {
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 490px) {

    #background {
        display: none;
    }

    /* ----------------------- */
    /* HEADER - BARRA SUPERIOR */
    /* ----------------------- */
    header {
        margin: 2rem 2rem;
    }

    header .nav-menu {
        display: none;
    }

    /* ------------- */
    /* HOME - INICIO */
    /* ------------- */

    #home {
        margin: 5.5rem 0 0 2rem;
    }

    #home .desarrollador {
        font-size: 1.2rem;
    }

    #home .description {
        font-size: 0.7rem;
        width: 90%;
    }

    #home .cv-download {
        font-size: 0.7rem;
        width: 8rem;
        height: 2.5rem;
    }

    #home .contact-icons {
        margin-top: 1rem;
    }

    /* ------------------------------------ */
    /* SKILLS ORBIT - ORBITA DE HABILIDADES */
    /* ------------------------------------ */

    #skills .first-orbit {
        display: none;
    }

    /* -------------------- */
    /* SKILLS - HABILIDADES */
    /* -------------------- */

    #skills {
        margin-top: 0rem;
    }
    
    #skills .cards {
        width: 85%;
        grid-template-columns: repeat(1, 2fr);
    }

    #skills .card-logo {
        padding: 3.5rem;
    }
    
    #skills .card-title {
        font-size: 1.25rem;
        letter-spacing: 2px;
    }
    
    #skills .cards hr {
        margin-bottom: 1rem;
    }

    #skills .cards .card-description {
        width: 80%;
        margin: 0 auto;
        font-size: 0.8rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    
    /* --------------------- */
    /* BRIEFCASE - PORTFOLIO */
    /* --------------------- */

    #briefcase {
        width: 90%;
        margin: 80rem auto 0 auto;
    }

    #briefcase .briefcase-proyects {
        grid-template-columns: repeat(1, 1fr);
    }

    .title-seccion {
        font-size: 1.8rem;
    }

    /* -------------------- */
    /* CONTACT - CONTACTAME */
    /* -------------------- */

    #contact {
        margin-bottom: 5vh;
        margin-top: 7rem;
    }

    #contact 
    #contact-description {
        width: 35vh;
    }

    #contact .half-input {
        grid-template-columns: repeat(1, 1fr);
        gap: 0.62rem;
    }

    #contact input,
    #contact textarea {
    padding: 0.9rem;
    border-radius: 1.25rem;
}

    #contact input::placeholder, textarea::placeholder {
        font-size: 0.7rem;
    }

    #contact textarea {
        height: 30vh;
    }

    footer {
        padding: 1rem;
    }

    footer a {
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 330px) {
    
    #background {
        display: none;
    }

    /* ----------------------- */
    /* HEADER - BARRA SUPERIOR */
    /* ----------------------- */
    header {
        margin: 1rem 1rem;
    }

    header .nav-menu {
        display: none;
    }

    /* ------------- */
    /* HOME - INICIO */
    /* ------------- */

    #home {
        margin: 3.5rem 0 0 1rem;
    }

    #home .desarrollador {
        font-size: 1rem;
    }

    #home .description {
        font-size: 0.7rem;
        width: 90%;
    }

    #home .cv-download {
        font-size: 0.7rem;
        width: 8rem;
        height: 2.5rem;
    }

    #home .contact-icons {
        margin-top: 1rem;
    }

    /* ------------------------------------ */
    /* SKILLS ORBIT - ORBITA DE HABILIDADES */
    /* ------------------------------------ */

    #orbit-skills {
        display: none;
    }

    /* -------------------- */
    /* SKILLS - HABILIDADES */
    /* -------------------- */
    
    #skills .cards {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    #skills .card-logo {
        padding: 3.5rem;
    }
    
    #skills .card-title {
        font-size: 1.25rem;
        letter-spacing: 2px;
    }
    
    #skills .cards hr {
        width: 80%;
    }

    #skills .cards .card-description {
        width: 80%;
        margin: 0 auto;
        font-size: 0.7rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    /* --------------------- */
    /* BRIEFCASE - PORTFOLIO */
    /* --------------------- */

    .title-seccion {
        font-size: 1.8rem;
    }

    #briefcase .briefcase-proyects {
        grid-template-columns: repeat(1, 1fr);
    }

    /* -------------------- */
    /* CONTACT - CONTACTAME */
    /* -------------------- */

    #contact 
    #contact-description {
        width: 90%;
    }

    #contact .half-input {
        grid-template-columns: repeat(1, 1fr);
        gap: 0.62rem;
    }

    #contact input,
    #contact textarea {
    padding: 0.9rem;
    border-radius: 1.25rem;
}

    #contact input::placeholder, textarea::placeholder {
        font-size: 0.7rem;
    }

    #contact textarea {
        height: 30vh;
    }

    footer {
        padding: 1rem;
    }

    footer a {
        font-size: 1.3rem;
    }
}